* {
  margin: 0;
  padding: 0;
}

.b {
  border: 1px solid black;
}

.l {
  width: 1200px;
  margin: auto;
}

header {
  box-shadow: 0px 1px 8px black;
}
#entete {
  height: 100px;
  background: palegreen;
}
#banner {
  height: 400px;
}
#mot {
  min-height: 400px;
}
#filieres {
  min-height: 500px;
}
footer {
  height: 200px;
  background: grey;
}
.col2 {
  width: 50%;
  min-height: 300px;
  float: left;
  box-sizing: border-box;
}
.col3 {
  width: 33.33%;
  min-height: 300px;
  float: left;
  box-sizing: border-box;
  text-align: center;
  padding: 16px;
}
.bs {
  box-shadow: 0px 1px 4px black;
}
.col3 > img {
  border-radius: 50%;
}
.clear {
  clear: both;
  height: 16px;
}
